<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.topanlabs.unsoedpass">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SettingsActivity2"
            android:label="@string/title_activity_settings2"></activity>
        <activity android:name="com.topanlabs.unsoedpass.settings2" />
        <activity
            android:name="com.topanlabs.unsoedpass.waitTransfer"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.topanlabs.unsoedpass.checkoutPay"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.topanlabs.unsoedpass.logout"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.topanlabs.unsoedpass.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".settingus" />
        <activity android:name=".settingsui" />
        <activity
            android:name="com.topanlabs.unsoedpass.welcome"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.topanlabs.unsoedpass.TrialHabis"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.topanlabs.unsoedpass.login"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.topanlabs.unsoedpass.cekAbsen"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.topanlabs.unsoedpass.jadwalKuliah"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.topanlabs.unsoedpass.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>