<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.topanlabs.unsoedpass">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".memoList"></activity>

        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4802685768489188~3534254786" />

        <activity android:name=".beritaView" />
        <activity android:name=".kelasSubscriber" />
        <activity android:name=".tambahKelas" />
        <activity android:name=".kelasPengganti" />
        <activity android:name=".fiturBelumTersedia" />
        <activity android:name=".absenSelector" />
        <activity android:name=".aboutScreen" />
        <activity android:name=".kelasSelector" />
        <activity android:name=".setReminder" />
        <activity android:name=".masukCapcay" />
        <activity android:name=".sinkronizer" />
        <activity android:name=".sinkronisasi" />
        <activity
            android:name=".SettingsActivity2"
            android:label="@string/title_activity_settings2" />
        <activity android:name=".settings2" />
        <activity
            android:name=".waitTransfer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".checkoutPay"
            android:screenOrientation="portrait" />
        <activity
            android:name=".logout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".settingus" />
        <activity android:name=".settingsui" />
        <activity
            android:name=".welcome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrialHabis"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cekAbsen"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.topanlabs.unsoedpass.absenSelector" />
        </activity>
        <activity
            android:name=".jadwalKuliah"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".broadcast.AlarmReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
        <receiver
            android:name=".broadcast.BootBroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>